/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMODS";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWERTY";
            bindings = <
   &kp TAB   &kp Q       &kp W       &kp E      &kp R      &kp T       &kp Y     &kp U      &kp I        &kp O       &kp P          &kp BSPC
   &kp ESC   &hm LSHFT A &hm LCTRL S &hm LALT D &hm LGUI F &kp G       &kp H     &hm RGUI J &hm RALT K   &hm RCTRL L &hm RSHFT SEMI &kp RS(COMMA)
   &kp LSHFT &kp Z       &kp X       &kp C      &kp V      &kp B       &kp N     &kp M      &kp COMMA    &kp DOT     &kp RA(FSLH)   &kp ENTER
                                     &kp LGUI   &kp C      &kp LSHFT   &kp SPACE &kp C      &kp RA(FSLH)
            >;
        };
    };
};
